/*:root {
    --primary-color: #434455;
    --secondary-color: #2e2f42;
    --white-color: #ffffff;
    --second-logo-color: #4d5ae5;
    --first-logo-color: #2e2f42;
    --first-footer-logo-color: #4d5ae5;
    --second-footer-logo-color: #f4f4fd;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2e2f42;
    --gray-background-color: #f4f4fd;
    --accent-color: #4d5ae5;
    --active-accent-color: #ffffff;
    --accent-background-color: #f4f4fd;
    --active-accent-background-color: #404bbf;
    --customers-color: #8e8f99;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}*/

/* Header */


ul {
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 0;
}


.footer {
  background-color: #0a224a;
  padding: 36px 16px 16px 16px;
}

/*@media only screen and (min-width: 1440px) {

.footer {
  padding: 60px 48px;
}
    
  


.div-footer {
  position: relative;
}

}

@media only screen and (min-width: 1440px) {
  .bundle {
    display: flex;
  }
}
@media only screen and (min-width: 1440px) {
  .logo-footer {
    margin-right: 216.42px;
  }
}
@media only screen and (min-width: 1440px) {
  .menu-footer {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .our-menu-footer {
    display: flex;
    padding-right: 400px;
    gap: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .agreement {
    font-size: 16px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .About-us-footer {
    font-size: 18px;

    line-height: 27px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-contact {
    margin: 0px 82px 0px 65px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-geolocation {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 48px 32px;

}
}
@media only screen and (min-width: 768px) {
  .logo-footer {
    margin-right: 249px;
    height: 16px;
    margin-bottom: 0px;
  }
}



@media only screen and (min-width: 768px) {
  .div-footer {
    display: flex;
    flex-wrap: wrap;
  }
}*/

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-footer {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
}
.list-footer-header {
  display: flex;
  gap: 16px;
}

.logo-footer {
  padding: 8px 0px;
  margin-bottom: 36px;
}




.menu-footer {
  margin-bottom: 36px;
}


.About-us-footer {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.About-us-footer-2 {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer-geolocation {
  margin-bottom: 36px;
}

.menu-item-footer:not(:last-child) {
  margin-bottom: 8px;
}
.footer-geo:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact {
  margin-bottom: 64px;
}

.agreement {
  color: #fff;
  opacity: 60%;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.188px;
}


.agreement-link {
  color: #fff;
  opacity: 60%;
}

/*@media only screen and (max-width: 767.9px) {
  .our-link {
    display: none;
  }
}*/